.layout-passport {
  height: 100%;

  &__content {
    background: rgb(56 47 209);
    background: linear-gradient(90deg, rgb(8 227 5 / 100%) 0%, rgb(8 173 191 / 100%) 50%, rgb(39 8 205 / 100%) 100%);

    > div {
      height: 100%;
    }
  }
}
