<div class="pg-home">
  <div nz-row class="pg-home__content" nzJustify="center" nzAlign="middle">
    <div nz-col>
      <div nz-row class="tech" nzAlign="middle">
        <!-- NgZorro also allows us to use Bootstrap dimensions. -->
        <div nz-col nzXs="24" nzMd="10">
          <a href="https://ng.ant.design" target="_blank">
            <img height="150" src="assets/images/logos/angular.svg" />
          </a>
        </div>
        <div nz-col nzXs="24" nzMd="4">
          <span class="tech__plus">+</span>
        </div>
        <div nz-col nzXs="24" nzMd="10">
          <a href="https://angular.io" target="_blank">
            <img height="150" src="assets/images/logos/ant-design.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
